---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Breadcumbs from "@/components/Breadcumbs.astro";
import Banner from "@/components/Banner.astro";
import Categories from "@/components/Categories.astro";
import PopularDish from "@/components/PopularDish.astro";
---

<Layout title="Welcome to Astro.">
  <div class="custom-grid">
    <div class="">
      <Header />
      <Breadcumbs />
      <Banner />
      <Categories />
      <PopularDish />
    </div>
    <div class="border rounded-lg bg-white w-full">
      <p>My cart</p>
    </div>
  </div>
</Layout>

<style>
  .custom-grid {
    display: grid;
    grid-template-columns: 1fr 600px;
    grid-gap: 1rem;
  }
</style>
