---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div id="app">
    <header>
      <h1>Welcome to Astro.</h1>
    </header>
    <main></main>
  </div>
</Layout>

<style></style>
