---
import HamburgerIcon from "@/icons/Hamburger.astro";
import ShoppingCartIcon from "@/icons/ShoppingCart.astro";
import SearchIcon from "@/icons/Search.astro";
import UserIcon from "@/icons/User.astro";
---

<header class="flex justify-between gap-6">
  <div
    class="h-12 w-12 flex justify-center items-center bg-orange-400 rounded-lg border border-orange-400 text-white cursor-pointer"
  >
    <HamburgerIcon width="18" />
  </div>

  <div class="w-full">
    <div class="relative w-full">
      <input
        type="text"
        class="h-12 p-2 pl-10 w-full bg-zinc-100 rounded-lg border border-zinc-300 font-bold text-black"
        placeholder="Search"
      />
      <div
        class="text-orange-400 absolute w-5 h-5 left-3 top-0.5 translate-y-1/2"
      >
        <SearchIcon width="18" />
      </div>
    </div>
  </div>

  <div class="flex gap-2">
    <div
      class="h-12 w-12 flex justify-center items-center bg-zinc-100 rounded-lg border border-zinc-300 text-zinc-400 cursor-pointer hover:bg-zinc-800 hover:text-white hover:border-zinc-700 transition-all duration-300"
    >
      <UserIcon width="18" />
    </div>

    <div
      class="h-12 w-12 flex justify-center items-center bg-orange-100 rounded-lg border border-orange-300 text-orange-400 cursor-pointer hover:bg-orange-400 hover:text-white hover:border-orange-500 transition-all duration-300"
    >
      <ShoppingCartIcon width="18" />
    </div>
  </div>
  
</header>
