---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-yellow-100 p-2 h-screen">
    <div
      id="app"
      class="relative h-full bg-gradient-to-b from-zinc-50 to-zinc-100 p-4 rounded-xl border border-yellow-300"
    >
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #f8f8f8;
  }
</style>
